* {
    font-family: 'Montserrat Alternates', sans-serif;
}

.header {
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 300px;
    font-weight: bold;
}

.songCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.card {
    margin-bottom: 25px;
}

.card-title {
    font-weight: bold;
}

.card-body {
    background-color: #528CC7;
}

.card-link {
    color: #FFFFFF;
    position: absolute;
    bottom: 3% !important;
}

a:hover {
    color: #000000;
}

a:active {
    color: #B2B6B6;
}

.formSection {
    display: flex;
    justify-content: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

::placeholder {
    font-size: 11px;
    font-style: italic;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid #000000;
    background-color: #B2B6B6;
}

.socialMedia, .copyright {
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.iconTwitter, .iconLinkedin {
    width: 1em;
    height: 1em;
    font-size: 25px;
    padding: 5px;
    color:#528CC7;
}